jupyter
pandas~=2.3.3
datasets~=4.4.1
scikit-learn~=1.7.2
lightgbm~=4.6.0
matplotlib~=3.10.7
seaborn~=0.13.2
optuna
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
numpy==1.26.4
implicit
scipy~=1.15.3
scikit-surprise
joblib~=1.5.2